.logo {
  padding: 1rem;
  text-align: center;
}

.logo img {
  width: 85%;
}

.ant-menu.ant-menu-dark,
.ant-layout-sider {
  background-color: #1f1f1f !important;
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: #141414;
}
