.plan-activities_section {
  margin: 0;
  padding: 24px;
  background: transparent;
}

.activate-plan,
.assignment-table {
  margin: 20px 0;
}

.assignment-table {
  padding: 24px;
  background: #fff;
}

.plan-detail-view {
  background-color: #ffffff;
  min-height: 156px;
  border-bottom: 1px solid #e9e9e9;
}

.plan-detail-view .site-page-header-responsive {
  line-height: 22px;
  padding-top: 16px;
  padding-left: 36px;
}

.plan-info-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 28px;
  flex-wrap: wrap;
}
.plan-avatar-detail-section {
  display: flex;
  align-items: center;
}
.avatar-section {
  padding-right: 24px;
}
.plan-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plan-dates {
  display: flex;
  flex-direction: row;
}
.plan-start-date {
  flex-direction: column;
  display: flex;
  padding-right: 24px;
}
.plan-end-date {
  flex-direction: column;
  display: flex;
  padding-left: 24px;
}
.start-date,
.end-date {
  display: flex;
  justify-content: flex-end;
}
.plan-detail-view .date-divider {
  height: 40px;
}
