.plan-info-main {
  display: inline-flex;
  align-items: flex-start;
  justify-content: unset;
}
.plan-title {
  margin-left: 19px;
  line-height: 29px;
}
.plan-start {
  margin-left: 474px;
  line-height: 29px;
}
.plan-start h2 {
  line-height: 55px;
}
.plan-end {
  margin-left: 87px;
  line-height: 29px;
}
.plan-info-header.content-section .timing-period-divider {
  height: 40px;
  margin-left: 60px;
  margin-bottom: 38px;
}
