.content-section > div {
  padding: 0;
  padding-top: 24px;
}

.page-header {
  padding-left: 0;
  padding-right: 0;
}

.main-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px 0;
}

.display-block {
  display: block;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.full-page-card .ant-card-head-title {
  padding: 0;
}

.card-title__icon {
  font-size: 35px;
}

.custom-btn-success {
  background-color: #389e0d;
  color: #fff;
}

.custom-btn-success:hover,
.custom-btn-success:link,
.custom-btn-success:active,
.custom-btn-success:visited {
  background-color: #389e0d;
  color: #fff;
}

.card-title__text {
  font-size: 20px;
  line-height: 28px;
}

.full-page-card {
  min-height: 80vh;
}

.round-button {
  border-radius: 5px;
}

.margin-1 {
  margin: 5px;
}
