.content-section > div {
  padding: 0;
  padding-top: 24px;
}

.page-header {
  padding-left: 0;
  padding-right: 0;
}

.main-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px 0;
}

.inventory-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px 0;
}

.display-block {
  display: block;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
  display: flex;
}

.inventory-profile-header {
  background-color: #ffffff;
  padding: 20px;
}

.go-back-text {
  color: #1890ff;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  cursor: pointer;
}

.inventory-profile-header .title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
  line-height: 28px;
}
.geography-item {
}

.geography-item .item {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 22px;
}
