.content-section > div {
  padding: 0;
  padding-top: 24px;
}

.page-header {
  padding-left: 0;
  padding-right: 0;
}

.main-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 32px 0;
}

.display-block {
  display: block;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}
