.content-section > div {
  padding: 0;
  padding-top: 24px;
}

.page-header {
  padding-left: 0;
  padding-right: 0;
}

.inventory-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 16px 0;
}

.display-block {
  display: block;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.flex-center-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.inventory-profile-header {
  background-color: #ffffff;
  padding: 20px 33px;
}

.go-back-text {
  color: #1890ff;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  cursor: pointer;
}

.inventory-profile-header .title {
  color: rgba(0, 0, 0, 0.85);
  font-size: 20px;
}

.full-page-card .ant-card-head-title {
  padding: 0;
}

.card-title__icon {
  font-size: 35px;
}

.custom-btn-success {
  background-color: #389e0d;
  color: #fff;
}

.custom-btn-success:hover,
.custom-btn-success:link,
.custom-btn-success:active,
.custom-btn-success:visited {
  background-color: #389e0d;
  color: #fff;
}

.card-title__text {
  font-size: 20px;
  line-height: 28px;
}

.geography-item {
  display: flex;
}

.geography-item .label {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
  white-space: nowrap;
}

.geography-item .value {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 16px;
}

.full-page-card {
  min-height: 80vh;
}

.round-button {
  border-radius: 5px;
}

.margin-1 {
  margin: 5px;
}
