/* common styles goes here */

/* common colors */
:root {
  /* detail page tab count badge colors */
  --tab-title-count-badge-active__color: #1676FE;
  --tab-title-count-badge-active__background: #EBF7FF;
  --tab-title-count-badge-inactive__color: #000000;
  --tab-title-count-badge-inactive__background: #F2F2F2;

  /* detail page resource details text colors */
  --resource-detail-key__default__color: rgba(0, 0, 0, 0.65);
  --resource-detail-key__light__color: rgba(0, 0, 0, 0.45);
  --resource-detail-key__dark__color: rgba(0, 0, 0, 0.85);
}

.mr-0 {
  margin-right: 0px;
}
.pt-0 {
  padding-top: 0px !important;
}
.d-flex {
  display: flex;
}
.flex-right {
  display: flex !important;
  justify-content: flex-end !important;
}

.custom-spinner {
  display: flex !important;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.flex-grow-1 {
  flex-grow: 1;
}
