@media only screen and (min-width: 0px) {
  .list-view {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 32px;
  }
  .main-content {
    background-color: #fff;
    margin: 0;
    flex-grow: 1;
    margin-bottom: 8px;
    padding: 16px;
  }

  .view-details-content {
    background-color: #fff;
    flex-grow: 1;
    padding: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .list-view {
    justify-content: space-between;
    flex-direction: row;
  }
  .main-content {
    flex: 60%;
  }
  .view-details-content {
    margin: 0;
    flex: 30%;
    margin-left: 8px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-content {
    flex: 75%;
  }
  .view-details-content {
    flex: 23%;
  }
}

.content-section {
  padding: 0 24px;
}

.product-form.form-container {
  background-color: #fff;
  padding: 24px !important;
  min-height: 80vh;
  margin-bottom: 24px;
}

.product-form.form-container .ant-form-item-label {
  overflow: visible;
  white-space: normal;
}

.content-section > div {
  padding: 0;
  padding-top: 24px;
}

.page-header {
  padding-left: 0;
  padding-right: 0;
}

.product-catalogue .main-content__header {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin: 0 0 16px 0;
}

.display-block {
  display: block;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}
