.details-full-view {
  background: #f5f5f5;
}

.details-full-view .site-page-header {
  padding: 24px;
  background: #fff;
}

.details-full-view .content-body {
  margin: 24px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.details-full-view .content-box {
  background-color: #fff;
}

.details-full-view .details-tab {
  background: #fff;
  padding: 16px;
}
