.documentResource-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  padding: 5px;
}

.patient-details-banner * {
  background: #f0f2f5 !important;
}

.patient-details-banner .patient-details-banner_avatar {
  width: 90px;
  height: 90px;
  line-height: 1.8;
  color: '#1CABE2';
  font-size: 50;
}

.patient-details-banner .ant-layout-sider {
  text-align: center;
  padding: 10px 0;
}

.patient-details-banner .ant-layout-header {
  height: inherit;
  padding: 5px 0;
}

.patient-details__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
}

.patient-detail__key-value {
  padding-bottom: 8px;
}
