.logo {
  padding: 1rem 1rem 1rem 24px;
}

.logo img {
  height: 40px;
  width: auto;
  max-width: 100%;
}

.menu-dark,
.layout-sider {
  background-color: #1f1f1f !important;
}

.menu-dark ul:last-child {
  background: #141414 !important;
}

.sidebar-icons {
  font-size: 18px !important;
  vertical-align: middle;
}

.sidebar-version {
  color: rgba(255, 255, 255, 0.65);
  text-align: left;
  margin-left: 7.5%; /* align with logo (logo centered with width 85%. Thus align left with preceding margin half of 100%-85%) */
  margin-top: 0.5rem;
}
