.logo {
  height: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  padding-left: 16px;

  img {
    max-height: 40px;
    width: auto;
    max-width: 100%;
  }

  .ant-btn-link:hover {
    color: var(--menu-item-text_hover__dark-theme__color);
  }
}

.main-logo img {
  height: 26px;
}

.small-logo {
  button {
    display: contents;
  }

  img {
    height: 38px;
    min-width: 38px;
  }
}

.collapse-icon {
  color: var(--menu-item-text__dark-theme__color);
  padding: 0 16px;
  margin-right: 19px;
  margin-left: auto;
  width: 6px;
}

.menu-dark,
.layout-sider {
  background-color: #1f1f1f !important;
}

.menu-dark ul:last-child {
  background: var(--sub-menu-items__background) !important;
}

.ant-menu-dark.ant-menu-submenu > .ant-menu {
  background: var(--sub-menu-items__background) !important;
}

.sidebar-icons {
  font-size: 18px !important;
  vertical-align: middle;
}

.sidebar-version {
  color: rgba(255, 255, 255, 0.65);
  text-align: left;
  margin: 0.5rem 0 0;
}
