.patient-info-main {
  padding: 20px 0;
}

.patient-detail-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.patient-detail-section > div span:first-child,
.patient-info-main .ant-col span:first-child {
  color: #777;
}
