.patient-info-main {
  padding: 20px 0;
}

.patient-detail-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.patient-detail-section > div span:first-child,
.patient-info-main .ant-col span:first-child {
  color: #777;
}

.patient-details-banner * {
  background: #f5f5f5 !important;
}

.patient-details-banner .patient-details-banner_avatar {
  width: 80px;
  height: 80px;
  line-height: 1.8;
  color: '#1CABE2';
  font-size: 50;
}

.patient-details-banner .ant-layout-sider {
  text-align: center;
  padding: 10px 0;
}

.patient-details-banner aside.ant-layout-sider {
  width: fit-content !important;
  flex: 0 0 auto !important;
  min-width: auto !important;
  max-width: auto !important;
  padding: 8px;
  margin-right: 16px;
}

.patient-details-banner .ant-layout-header {
  height: inherit;
  padding: 5px 0;
}

.patient-details__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 15px;
}

.fhir-ui__Value {
  display: flex;
  margin-bottom: 5px;
}

.fhir-ui__Value :not(.fhir-ui__Value-label) {
  word-break: break-all;
}

.fhir-ui__Value-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #6c757d;
  margin: 0 10px 0 0;
}

.fhir-ui__ValueSection {
  overflow: auto;
}

.fhir-ui__ValueSection-label {
  /* margin-top: 5px; */
  font-size: 1.1em;
  color: #6c757d;
  text-transform: uppercase;
  font-weight: 700;
}

.fhir-ui__ValueSection-body {
  margin: 0 2em;
}

.doc-reference {
  margin: 10px;
}

.doc-resource__content-table-action {
  width: 33%;
}

.doc-resource__content-table-action img {
  max-width: 250px;
}

.doc-resource__content_table td,
.doc-resource__content_table th {
  vertical-align: middle !important;
  padding: 8px;
}

.doc-resource__title {
  font-size: 1.5em;
}

.disabled-link {
  pointer-events: none;
  color: grey;
}
