window._env_ = {
  REACT_APP_BACKEND_ACTIVE: "{{ getv "/react/app/backend/active" "true"}}",
  REACT_APP_DISABLE_LOGIN_PROTECTION: "{{ getv "/react/app/disable/login/protection" "false" }}",
  REACT_APP_DOMAIN_NAME: "{{ getv "/react/app/domain/name" "http://localhost:3000" }}",
  REACT_APP_ENABLE_OPENSRP_OAUTH: "{{ getv "/react/app/enable/opensrp/oauth" "true" }}",
  REACT_APP_EXPRESS_OAUTH_GET_STATE_URL: "{{ getv "/react/app/express/oauth/get/state/url" "http://localhost:3000/oauth/state"}}",
  REACT_APP_EXPRESS_OAUTH_LOGOUT_URL: "{{ getv "/react/app/express/oauth/logout/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/logout" }}",
  REACT_APP_KEYCLOAK_API_BASE_URL: "{{ getv "/react/app/keycloak/api/base/url" "https://keycloak-stage.smartregister.org/auth/admin/realms/opensrp-web-stage"}}",
  REACT_APP_KEYCLOAK_LOGOUT_URL: "{{ getv "/react/app/keycloak/logout/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/logout" }}",
  REACT_APP_NAVBAR_BRAND_IMG_SRC: "{{ getv "/react/app/navbar/brand/img/src" ""}}",
  REACT_APP_OPENSRP_ACCESS_TOKEN_URL: "{{ getv "/react/app/opensrp/access/token/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/token" }}",
  REACT_APP_OPENSRP_API_BASE_URL: "{{ getv "/react/app/opensrp/api/base/url" "https://opensrp-stage.smartregister.org/opensrp/rest/" }}",
  REACT_APP_OPENSRP_AUTHORIZATION_URL: "{{ getv "/react/app/opensrp/authorization/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/auth" }}",
  REACT_APP_OPENSRP_CLIENT_ID: "{{ getv "/react/app/opensrp/client/id" "opensrp-stage-server" }}",
  REACT_APP_OPENSRP_LOGOUT_URL: "{{ getv "/react/app/opensrp/logout/url" "https://opensrp-stage.smartregister.org/opensrp/logout.do" }}",
  REACT_APP_OPENSRP_USER_URL: "{{ getv "/react/app/opensrp/user/url" "https://opensrp-stage.smartregister.org/opensrp/user-details/" }}",
  REACT_APP_FHIR_API_BASE_URL: "{{ getv "/react/app/fhir/api/base/url" "https://fhir.labs.smartregister.org/fhir" }}",
  REACT_APP_WEBSITE_NAME: "{{ getv "/react/app/website/name" "opensrp-web" }}",
  REACT_APP_ACTION_UUID_NAMESPACE: "{{ getv "/react/app/action/uuid/namespace" ""}}",
  REACT_APP_PLAN_UUID_NAMESPACE: "{{ getv "/react/app/plan/uuid/namespace" ""}}",
  REACT_APP_ENABLE_TEAMS_ASSIGNMENT_MODULE: "{{ getv "/react/app/enable/teams/assignment/module" "false" }}",
  REACT_APP_DEFAULT_HOME_MODE: "{{ getv "/react/app/default/home/mode" "default" }}",
  REACT_APP_ENABLE_LANGUAGE_SWITCHER: "{{ getv "/react/app/enable/language/switcher" "false" }}",
  REACT_APP_SUPPORTED_LANGUAGES: "{{ getv "/react/app/supported/languages" "en" }}",
  REACT_APP_ENABLE_INVENTORY: "{{ getv "/react/app/enable/inventory" "false" }}",
  REACT_APP_PROJECT_LANGUAGE_CODE: "{{ getv "/react/app/project/language/code", "core" }}",
  REACT_APP_LANGUAGE_CODE: "{{ getv  "/react/app/language/code" "en" }}",
  REACT_APP_ENABLE_FORM_CONFIGURATION: "{{ getv "/react/app/enable/form/configuration" "false" }}",
  REACT_APP_ENABLE_PRODUCT_CATALOGUE: "{{ getv "/react/app/enable/product/catalogue" "false" }}",
  REACT_APP_DEFAULT_PLAN_ID: "{{ getv "/react/app/default/plan/id" "" }}",
  REACT_APP_DEFAULT_PLAN_DURATION_DAYS: "{{ getv "/react/app/default/plan/duration/days" "30" }}",
  REACT_APP_DATE_FORMAT: "{{ getv "/react/app/date/format" "yyyy-MM-DD" }}",
  REACT_APP_MAIN_LOGO_SRC: "{{ getv "/react/app/main/logo/src" "" }}",
  REACT_APP_PLAN_ASSIGNMENT_AT_GEO_LEVEL: "{{ getv "/react/app/plan/assignment/at/geo/level" "0" }}",
  REACT_APP_TASK_GENERATION_STATUS: "{{ getv "/react/app/task/generation/status" "False" }}",
  REACT_APP_DEFAULT_PLAN_VERSION: "{{ getv "/react/app/default/plan/version" "1" }}",
  REACT_APP_DEFAULT_ACTIVITY_DURATION_DAYS: "{{ getv "/react/app/default/activity/duration/days" "30" }}",
  REACT_APP_OPENSRP_OAUTH_SCOPES: "{{ getv "/react/app/opensrp/oauth/scopes" "profile" }}",
  REACT_APP_ENABLE_LOCATIONS: "{{ getv "/react/app/enable/locations" "false" }}",
  REACT_APP_ENABLE_TEAMS: "{{ getv "/react/app/enable/teams" "false" }}",
  REACT_APP_ENABLE_PLANS: "{{ getv "/react/app/enable/plans" "false" }}",
  REACT_APP_ENABLE_CARD_SUPPORT: "{{ getv "/react/app/enable/card/support" "false" }}",
  REACT_APP_USER_FORM_HIDDEN_FIELDS: "{{ getv "/react/app/user/form/hidden/fields" "" }}",
  REACT_APP_USER_FORM_RENDERED_FIELDS: "{{ "{{ getv "/react/app/user/form/render/fields" "" }}" }}",
  REACT_APP_ENABLE_FHIR_CARE_TEAM: "{{ getv "/react/app/enable/fhir/care/team" "false" }}",
  REACT_APP_ENABLE_FHIR_HEALTHCARE: "{{ getv "/react/app/enable/fhir/healthcare" "false" }}",
  REACT_APP_ENABLE_FHIR_TEAMS: "{{ getv "/react/app/enable/fhir/teams" "false" }}",
  REACT_APP_ENABLE_FHIR_PATIENTS: "{{ getv "/react/app/enable/fhir/patients" "false" }}",
  REACT_APP_ENABLE_USER_MANAGEMENT: "{{ getv "/react/app/enable/user/management" "false" }}",
  REACT_APP_ENABLE_FHIR_USER_MANAGEMENT: "{{ getv "/react/app/enable/fhir/user/management" "false" }}",
  REACT_APP_PAGINATION_SIZE" "{{ getv "/react/app/pagination/size" "1000" }}",
  REACT_APP_FHIR_PATIENT_SORT_FIELDS" "{{ getv "/react/app/fhir/patient/sort/fields" "-_lastUpdated" }}",
  REACT_APP_FHIR_PATIENT_BUNDLE_SIZE" "{{ getv "/react/app/fhir/patient/bundle/size" "5000" }}",
  REACT_APP_FHIR_RESOURCES_PAGE_SIZE" "{{ getv "/react/app/resources/page/size" "500" }}",
  REACT_APP_OPENSRP_OAUTH_STATE: "{{ getv "/react/app/opensrp/oauth/state" "opensrp" }}",
  REACT_APP_FILTER_BY_PARENT_ID: "{{ getv "/react/app/filter/by/parent/id" "true" }}",
  REACT_APP_DEFAULTS_TABLE_PAGE_SIZE: "{{ getv "/react/app/defaults/table/page/size" "5" }}",
  REACT_APP_KEYCLOAK_USERS_PAGE_SIZE: "{{ getv "/react/app/keycloak/users/page/size" "20" }}",
  REACT_APP_OPENSRP_ROLES: "{{ getv "/react/app/opensrp/roles" "" }}",
  REACT_APP_DISABLE_TEAM_MEMBER_REASSIGNMENT: "{{ getv "/react/app/disable/team/member/reassignment" "true" }}",
  REACT_APP_USER_FORM_RENDER_FIELDS: "{{ getv "/react/app/user/form/render/fields" "" }}",
  REACT_APP_PAGINATION_SIZE: "{{ getv "/react/app/pagination/size" "1000" }}",
  REACT_APP_ENABLE_SERVER_SETTINGS: "{{ getv "/react/app/enable/server/settings" "false" }}",
  REACT_APP_OPENSRP_API_V2_BASE_URL: "{{ getv "/react/app/opensrp/api/v2/base/url" "https://opensrp-stage.smartregister.org/opensrp/rest/v2/" }}",
  REACT_APP_OPENSRP_WEB_VERSION: "{{ getv "/react/app/opensrp/web/version" "" }}",
  REACT_APP_SENTRY_CONFIG_JSON: "{{ getv "/react/app/opensrp/sentry/config/json"  "" }}",
  REACT_APP_ENABLE_FHIR_LOCATIONS: "{{ getv "/react/app/enable/fhir/locations" "false" }}",
  REACT_APP_FHIR_ROOT_LOCATION_IDENTIFIER: "{{ getv "react/app/fhir/root/location/identifier" "" }}",
  REACT_APP_ENABLE_QUEST: "{{ getv "react/app/enable/quest" "false" }}",
  REACT_APP_ENABLE_FHIR_HEALTHCARE_SERVICES: "{{ getv "/react/app/enable/fhir/healthcare/services" "false" }}",
  REACT_APP_ENABLE_FHIR_GROUP: "{{ getv "/react/app/enable/fhir/group" "false" }}",
};
