window._env_ = {
  REACT_APP_BACKEND_ACTIVE: "{{ getv "/react/app/backend/active" "true"}}",
  REACT_APP_DISABLE_LOGIN_PROTECTION: "{{ getv "/react/app/disable/login/protection" "false" }}",
  REACT_APP_DOMAIN_NAME: "{{ getv "/react/app/domain/name" "http://localhost:3000" }}",
  REACT_APP_ENABLE_OPENSRP_OAUTH: "{{ getv "/react/app/enable/opensrp/oauth" "true" }}",
  REACT_APP_EXPRESS_OAUTH_GET_STATE_URL: "{{ getv "/react/app/express/oauth/get/state/url" "http://localhost:3000/oauth/state"}}",
  REACT_APP_EXPRESS_OAUTH_LOGOUT_URL: "{{ getv "/react/app/express/oauth/logout/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/logout" }}",
  REACT_APP_KEYCLOAK_API_BASE_URL: "{{ getv "/react/app/keycloak/api/base/url" "https://keycloak-stage.smartregister.org/auth/admin/realms/opensrp-web-stage"}}",
  REACT_APP_KEYCLOAK_LOGOUT_URL: "{{ getv "/react/app/keycloak/logout/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/logout" }}",
  REACT_APP_NAVBAR_BRAND_IMG_SRC: "{{ getv "/react/app/navbar/brand/img/src" ""}}",
  REACT_APP_OPENSRP_ACCESS_TOKEN_URL: "{{ getv "/react/app/opensrp/access/token/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/token" }}",
  REACT_APP_OPENSRP_API_BASE_URL: "{{ getv "/react/app/opensrp/api/base/url" "https://opensrp-stage.smartregister.org/opensrp/rest/" }}",
  REACT_APP_OPENSRP_AUTHORIZATION_URL: "{{ getv "/react/app/opensrp/authorization/url" "https://keycloak-stage.smartregister.org/auth/realms/opensrp-web-stage/protocol/openid-connect/auth" }}",
  REACT_APP_OPENSRP_CLIENT_ID: "{{ getv "/react/app/opensrp/client/id" "opensrp-stage-server" }}",
  REACT_APP_OPENSRP_LOGOUT_URL: "{{ getv "/react/app/opensrp/logout/url" "https://opensrp-stage.smartregister.org/opensrp/logout.do" }}",
  REACT_APP_OPENSRP_USER_URL: "{{ getv "/react/app/opensrp/user/url" "https://opensrp-stage.smartregister.org/opensrp/user-details/" }}",
  REACT_APP_WEBSITE_NAME: "{{ getv "/react/app/website/name" "opensrp-web" }}",
  REACT_APP_ACTION_UUID_NAMESPACE: "{{ getv "/react/app/action/uuid/namespace" ""}}",
  REACT_APP_PLAN_UUID_NAMESPACE: "{{ getv "/react/app/plan/uuid/namespace" ""}}"
};
