node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

*auth.json
/test-results/
/playwright-report/
/playwright/.cache/

#yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
