.planform.form-container {
  background-color: #fff;
  padding: 24px !important;
  min-height: 80vh;
  margin-bottom: 24px;
}

.condition-group,
.trigger-group {
  background-color: aliceblue;
  padding: 0.5rem;
}

.dynamic-delete-button {
  margin: 0 8px;
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.planform.form-container .ant-form-item-label {
  overflow: visible;
  white-space: normal;
}

.status-radio {
  display: block;
  height: 30px;
  line-height: 30px;
}

.popup-width {
  width: 250px;
}
