.keyValueGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(32px, 1fr));
}

.singleKeyValue-pair__value,
.keyValueGrid-pair__value {
  color: rgba(0, 0, 0, 0.85);
}

.singleKeyValue-pair__label,
.keyValueGrid-pair__label {
  color: rgba(0, 0, 0, 0.65);
}

.keyValueGrid-pair__value,
.keyValueGrid-pair__label {
  display: inline-block;
}

.keyValueGrid-pair__value {
  margin-left: 1rem;
}

dl.keyValueGrid,
dl.singleKeyValue {
  margin-bottom: 0;
  line-height: 1.4em;
  font-weight: 400;
}

/* override bootstrap more specif dt weight style*/
dl dt {
  font-weight: 400;
}
