.form-container {
  position: relative;
  top: 20px;
}

.ant-form-item-label {
  flex: 10% !important;
  flex-grow: 0 !important;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  margin-right: 10px;
  padding: 8px 50px;
}

.cancel-user {
  float: right;
}

/* .ant-space {
  float: right;
} */
