@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

h2.page-title {
  font-weight: 200;
}
button {
  margin-right: 8px;
}
.gatekeeper-cb,
.gatekeeper-login {
  margin-top: 3rem !important;
}

.gatekeeper-btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
  color: #ffffff;
  background-color: #28a745;
  border-color: #28a745;
  width: 100%;
  display: inline-block;
  max-width: 200px;
}

.gatekeeper-btn:hover,
.gatekeeper-btn:focus,
.gatekeeper-btn:active,
.gatekeeper-btn.active,
.open .dropdown-toggle.gatekeeper-btn {
  color: #ffffff;
  background-color: #169c34;
  border-color: #28a745;
  text-decoration: none;
}

.gatekeeper-btn:active,
.gatekeeper-btn.active,
.open .dropdown-toggle.gatekeeper-btn {
  background-image: none;
}

.gatekeeper-btn.disabled,
.gatekeeper-btn[disabled],
fieldset[disabled] .gatekeeper-btn,
.gatekeeper-btn.disabled:hover,
.gatekeeper-btn[disabled]:hover,
fieldset[disabled] .gatekeeper-btn:hover,
.gatekeeper-btn.disabled:focus,
.gatekeeper-btn[disabled]:focus,
fieldset[disabled] .gatekeeper-btn:focus,
.gatekeeper-btn.disabled:active,
.gatekeeper-btn[disabled]:active,
fieldset[disabled] .gatekeeper-btn:active,
.gatekeeper-btn.disabled.active,
.gatekeeper-btn[disabled].active,
fieldset[disabled] .gatekeeper-btn.active {
  background-color: #28a745;
  border-color: #28a745;
}

.gatekeeper-btn .badge {
  color: #28a745;
  background-color: #ffffff;
}

.footer-row-container {
  position: 'absolute';
  bottom: '0';
  line-height: 60px;
  font-weight: bold;
}

.body-wrapper {
  background: #f5f5f5;
  flex-grow: 1;
  min-height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

/* antd overrides */

.custom-ant-spin,
.ant-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85vh;
}

.body-wrapper .layout-content {
  padding: 0 50px;
  margin-top: 20px;
}
.body-wrapper .layout-header {
  display: flex;
  flex: 0;
}
svg {
  vertical-align: baseline !important;
}

.custom-table th {
  color: rgba(0, 0, 0, 0.85) !important;
}
.custom-table td {
  color: rgba(0, 0, 0, 0.65) !important;
}

td {
  vertical-align: top !important;
}

.text-nowrap {
  white-space: nowrap;
}
