# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and test opensrp web
on:
  push:
    paths-ignore:
      - 'docs/**'

jobs:
  test:
    strategy:
      matrix:
        node-version: [16.17.0]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      - name: cp envs
        run: cp app/.env.sample app/.env

      - run: yarn install --frozen-lockfile

      # - name: Lint
      #   run: yarn lint

        # TODO: cache and only build packages that were changed
      - name: Build packages
        run: yarn lerna:prepublish 

      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
        # with:
        #   ## limits ssh access and adds the ssh public key for the user which triggered the workflow
        #   limit-access-to-actor: true
        #   ## limits ssh access and adds the ssh public keys of the listed GitHub users
        #   limit-access-to-users: githubuser1,githubuser2

      - name: Run all tests
        run: yarn test --verbose --collectCoverage=true --forceExit --detectOpenHandles
        env:
          NODE_OPTIONS: --max_old_space_size=4096

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage
          fail_ci_if_error: true
          verbose: true
