.table-container {
  background-color: #ffffff;
  margin: 20px;
}

.location-table-action {
  width: 86px;
}

.location-table-action .edit {
  width: 45px;
  color: #1890ff;
}

.location-table-action .more-options {
  cursor: pointer;
  width: 32px;
  color: #1890ff;
  border-left: 1px solid;
  height: 16px;
  font-size: 18px;
  border-left-color: #e9e9e9;
}

/* table tr:nth-child(2n) td {
  background-color: #f4f4f4;
} */
